.box-enter {
    /* 动画准备状态 */
    width: 0;
    height: 0;
    opacity: 0;
    background-color: skyblue;
}

.box-enter-active {
    /* 动画进行过程中 */
    width: 100px;
    height: 100px;
    opacity: 1;
    background-color: skyblue;
    transition: all 3s;
}

.box-enter-done {
    /* 动画已完成时的状态 */
    width: 100px;
    height: 100px;
    opacity: 1;
    background-color: skyblue;
}