.box {
    margin: 100px auto;
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;
}

.box p {
    position: relative;
    font-size: 18px;
    color: blue;
}

.box p::before {
    position: absolute;
    top: 100px;
    content: '我是伪元素';
    color: pink;
}