<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .yse {
            color: yellow;
        }
    </style>
</head>

<body>
    <div id="app">
        <ccao :list='list'>
            <template v-slot="slotProps">
                <strong v-if="slotProps.zhi.id == 2" class="yse">{{slotProps.zhi.name}}---{{slotProps.zhi.id}}</strong>
                <span v-else>{{slotProps.zhi.name}}---{{slotProps.zhi.id}}</span>
            </template>
        </ccao>
    </div>
    <script src="./lib/vue-3.0.js"></script>
    <script>
        let vm = Vue.createApp({
            data() {
                return {
                    list: [{
                        id: 1,
                        name: '张三'
                    }, {
                        id: 2,
                        name: '李四'
                    }, {
                        id: 3,
                        name: '王五'
                    }]
                }
            }
        });
        vm.component('ccao', {
            props: ['list'],
            template: `
            <ul>
                <li v-for="(item,index) in list">
                    <slot :zhi="item"></slot>    
                </li>
            </ul>
            `
        });
        vm.mount('#app')
    </script>
</body>

</html>